@use "partials/variables.scss" as *;
@use "partials/mixins.scss" as *;
// Import all of Bootstrap's CSS
@import "bootstrap/scss/bootstrap";

main{
    background-color: #404040;
    height: 90vh;
    overflow-x: hidden;
    overflow-y: scroll;
    section{
        margin-left: 20px;
        h2{
            color: white;
            font-weight: bolder;
        }
        .swiper-wrapper{
            width: 400px;
            .boolflix--container{
                display: flex;
            }
        }
    }
}